@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital@1&family=Carter+One&family=Covered+By+Your+Grace&family=Fredoka+One&family=Lilita+One&family=Luckiest+Guy&family=Permanent+Marker&family=Righteous&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital@1&family=Carter+One&family=Covered+By+Your+Grace&family=Fredoka+One&family=Lilita+One&family=Luckiest+Guy&family=Permanent+Marker&family=Righteous&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo+Narrow:ital@1&family=Carter+One&family=Covered+By+Your+Grace&family=Fredoka+One&family=Lilita+One&family=Luckiest+Guy&family=Permanent+Marker&family=Righteous&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    background-color: $color2;
    font-size: 30px;
    font-family: $font1;
    padding: auto;
}




.navbar {
    font-weight: bold;
    color: $color1;

    .navbar-brand {
        color: $color1 !important;
        font-size: 60px;
    }

    .navbar-toggler {
        background-color: $color1;
    }

    .nav-item:hover {
        background-color: $color1;
    }

    .navbar .nav-link {
        list-style: none;
        font-size: 25px;
    }

    .navbar .nav-link a {
        text-decoration: none;
        color: $color3;
        margin: 2px;
    }

}

.mainHome {

    background-image: url(../img/zapawall.jpg);
    background-color: $color4;
    background-size: cover;
    height: 40rem;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}


main a {
    background-size: 40px;
    font-family: $font2;
}

.call {
    color: $color5;
    font-family: $font3;
    text-align: cover;
    width: 25rem;
}

.indexh1 {
    margin-bottom: 40px;
    font-size: 50px;
    font-family: $font2;
    text-shadow: 5px 5px 5px $color1;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-direction: alternate;
    animation-iteration-count: infinite;


    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.call p {
    margin-bottom: 30px;
    font-family: $font2;
    font-size: 25px;
    color: $color2;
}


.call a {
    background-color: $color2;
    color: $color5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 7px;
}


.call a a:hover {
    background-color: $color1;
    border: 2px solid;
}


.mainPages {
    padding-bottom: 50px;
    background-color: $color4;
    background-size: cover;
    background-position: center center;


    .picCont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        border-radius: 18px;
        transition: all 0.25s;
    }


    .card {
        grid-gap: 10px;
        background-color: $color3;

        .imgSneakers {
            @include size(100%, 25rem);
            
        }

        h3 {
            font-size: 40px;
            font-family: $font2;
            color: $color1;
            text-align: center;
        }

        p {
            font-size: 20px;
            font-family: $font2;
            color: $color2;
            text-align: center;
        }

    }

    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 12px 16px $color1;
    }


}

.pagesh1 {
    font-size: 40px;
    font-family: $font2;
    color: $color1;
    text-align: center;
}

.card h3 {
    font-size: 40px;
    font-family: $font2;
    color: $color1;
    text-align: center;
}

.card p {
    font-size: 20px;
    font-family: $font2;
    color: $color2;
    text-align: center;
}



/* Mi constante */
/* $color2 == black */

footer {
    @if $color2==black {
        text-align: center;
        font-size: 20px;
        background-color: $color2;
        color: $color1;
        font-family: $font2;
        padding: 20px;

    }

    @else if $color2==grey {
        font-size: 50px;
    }

    @else if $color2==purple {
        font-family: $font1;
        padding: 10px;
    }

}

i {
    font-size: 30px;
    letter-spacing: 20px;
    color: $color5;
    text-align: center;
}

i:hover {
    color: $color1;
}

p {
    margin-bottom: 15px;
}


/* contact */

.mainContact {
    background-image: url(../img/banner.png);
}

.contForm {
    display: flex;
    justify-content: center;


    // Variables
    $var1: 60px;
    $var2: 30px;
    $var3: 20px;


    form {

        width: 100%;
        height: 100%;
        font-family: $font2;
        font-size: 30px;
        text-align: left;
        margin-top: ($var1 - 30) + 20;
        margin-bottom: $var1/2;
        color: $color1;
        padding: $var3 + $var2;

    }

    .btnForm {
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        font-family: $font2;
        text-align: center;
        color: $color5;
        padding: 15px;
        background-color: $color1;
        border-color: $color1;
        border-width: 3px;
        width: 7rem;
        height: 4rem;
        border-style: solid;
        border-radius: 7px;
    }
}

@media screen and (max-width: 576px) {
    .mainPages {
        .picCont {

            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 320px) {
    .mainPages {
        .picCont {
            grid-template-columns: 100%;
        }
    }

}

@import "_colors";
@import "_constante";
@import "_fonts";
@import "_mixin";
@import "_operadores";